.main > *:hover > .anchorjs-link,
.main > h1 .anchorjs-link:focus  {
  transition: color .16s linear;
}

.main > h1 .anchorjs-link:link    { color: #DFD487; }
.main > h1 .anchorjs-link:visited { color: #DFD487; }
.main > h1 .anchorjs-link:hover   { color: #EC7963; }
.main > h1 .anchorjs-link:active  { color: #EC7963; }
